@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    color: ivory;
    font-family: "Montserrat", sans-serif;
}


.container {
    border: 1px solid red;
}
